<!DOCTYPE html>
<html>

<head>
    <title>Offer Page2</title>
</head>

<body>
    <div class="container2" id="blur">
        <div class="offerC">
            <a class="icon-arrow-leftC"></a>
            <p class="p2">OFFERS</p>
        </div>

        <div class="imgcontainer">
            <img src="./assets/leftimg.jpg/" class="leftimgC" alt="This is the image" width="1120" height="450">
            <img src="./assets/ixiimg2.jpg/" class="ixiimg2" alt="This is the image">
            <img src="./assets/copn.jpg/" class="copn2" alt="This is the image">

            <h4>Discount: upto Rs 10,000</h4>
            <p>Lorem ipsum dolor sit amet, consectetur sadipisicing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscingundefined</p>
        </div>


        <br><br><br>


        <div class="TC">
            <img src="./assets/tc.jpg/" class="tcimg" alt="This is the image">
            <h5>Terms and Condition</h5>
            <p>Lorem ipsum dolor sit amet, consectetur sadipisicing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscingundefined</p>
        </div>


        <br><br><br>


        <button class="btn btn-primary" (click)="onClick($event)">CLAIM OFFER</button>


        <br><br><br>


        <div class="ftr2">

        </div>
    </div>

    <div id="popup">
        <img src="./assets/tick.jpg/" class="tickimg" alt="This is tick image" width="100" height="90">
        <p class="txttick">Offer Claimed Successfully</p>
    </div>
</body>

</html>