.offer{
    height: 60px;
    width: 100%;
    border: solid 1px black;
    background-color: #e87814;
}

.icon-arrow-left{
    width: 20px;
    height: 2px;
    background: white;
    position: absolute;
    top: 30px;
    margin-left: 30px;
}

.icon-arrow-left:after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    position: absolute;
    top: 4.4px;
    left: -1px;
}

.icon-arrow-left:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
    position: absolute;
    bottom: 4.5px;
    left: -1.5px;
}


.offer p{
    position: absolute;
    top: 15px;
    left: 48%;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hdtxt{
    position: relative;
    top: 65%;
    border: solid 1px black;
    text-align: center;
    padding-top: 5px;
    background-color: #00000029;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #e87710;
}

.card-block{
    display: inline;
    padding-left: 45px;
}

.card{
    width: 45%;
    height: 5%;
    background-color: #102252;
    margin: 10px 0px 0 10px;
    border-radius: 10px;
    display: inline-block;
}


.carda{
    width: 45%;
    height: 5%;
    background-color: #102252;
    margin: 10px 0px 0 10px;
    border-radius: 10px;
    display: inline-block;
}

.rs1-img{
    border-radius: 25px;
    position: relative;
    top: 30px;
    left: 45px;
}

.card-price{
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 48px;
    color: #FFFFFF;
}

.card-text{
    text-align: center;
    position: relative;
    bottom: 30px;
    font-size: 20px;
    font-weight: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}

.dimnd1-img{
    border-radius: 25px;
    position: relative;
    top: 30px;
    left: 45px;
}

.card-point{
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    bottom: 48px;
    color: #FFFFFF;
    padding-left: 10px;
}

.offertxt1{
    margin: 0 55px;
    margin-top: 20px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #E87611;
}

.card1{
    border: solid 1px black;
    width: 45%;
    height: 5%;
    background-color:#FFFFFF;
    margin: 10px 0px 0 10px;
    border-radius: 10px;
    display: inline-block;
}

.card1a{
    border: solid 1px black;
    width: 45%;
    height: 5%;
    background-color:#FFFFFF;
    margin: 10px 0px 0 10px;
    border-radius: 10px;
    display: inline-block;
}

.ixiimg{
    position: relative;
    bottom: 45px;
    left: 20px;
    border-radius: 45px;
}



.card-title{
    position: relative;
    bottom: 30px;
    text-align: left;
}

.card-text1{
    color: black;
    text-align: left;
}

.btn1{
    border: solid 1px #E87611;
    color: #E87611;
}

.btn2{
    position: relative;
    left: 62%;
    background-color: #E87611;
    color: #FFFFFF;
}

.bkngimg{
    position: relative;
    bottom: 45px;
    left: 20px;
    border-radius: 45px;
}

.frshfd{
    position: relative;
    left: 20px;
    bottom: 40px;
    border-radius: 45px;
}

.copn{
    position: relative;
    left: 67%;
    bottom: 55px;
}

.zomato{
    position: relative;
    left: 20px;
    bottom: 50px;
    border-radius: 45px;
}

.ftr{
    margin-top: 30px;
    border: solid 1px yellow;
    width: 100%;
    height: 40px;
    background-color: #000000;
}

.fa{
    color: #575757;
}


@media screen and (max-width:400px){


}